# API ключ Vulners (обязательно)
ULNERS_API_KEY=your_vulners_api_key_here

# Файлы
LOG_FILE=logs/suricata_sample.json
REPORTS_DIR=reports


# Настройки email (заполните, если хотите получать уведомления)
EMAIL_ENABLED=true
SMTP_SERVER="smtp.gmail.com"
SMTP_PORT=587
SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_app_password_here
RECIPIENT_EMAIL=recipient@example.com"test@gmail.com"
